//Uncomment if header is on top of splash
/* body{
    position: relative;
} */

.site-header{
    
    //Uncomment if header needs to be on top of splash
	@include floatingHeader;
	display: flex;
	align-items: center;

	.site-branding {
		width: 20%;
		margin-right: auto;
	}
}

.main-navigation{
	width: 70%;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
		list-style: none;
		justify-content: flex-end;
    }

    a{
        display: block;
		padding: 10px 20px;
		text-transform: uppercase;
		color: #fff;
    }
}