.desktop{
    display: block!important;
}

.mobile{
    display: none!important;
}

.content-area{

}

.home-about {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url($assetDir + 'generic.JPG') center center no-repeat;
	background-size: cover;
	.left {
		width: 50%;
		text-align: center;
		color: #fff;
		p {
			margin: 0 0 30px;
		}
		a {
			color: #fff;
			border: 1px solid #fff;
			padding: 5px 10px;
			border-radius: 3px;
		}
	}
	.right {
		width: 50%;
		background: rgba(0, 0, 0, 0.803);
		padding: 20px;
		h3 {
			color: red;
		}
		p {
			color: #fff;
		}
	}
}
.home-grid {
	display: flex;
	justify-content: center;
	& > div {
		width: 33%;
		text-align: center;
	}
}
.splash{
    //Uncomment if splash needs text on it.
	@include floatingSplash;
	img {
		filter: blur(2px) brightness(50%);

	}
	
	.text {
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		width: 100%;
		color: #fff;
		text-shadow: 0 3px 20px #000;
		h1 {
			text-transform: uppercase;
			margin: 0 0 10px 0;
			line-height: 1;
		}
		h2 {
			font-weight: normal;
			margin: 0;
			line-height: 1;
		}
	}

    img{
        width: 100%;
        height: auto;
        display: block;
    }

    //.text params are in ../prefab/style-prefabs
}

.button{
    @include buttonHover;
}

.widget-area{
    padding: 10px;
}